/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Allison Darwin
Author URI:   http://www.allisondarwin.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/*** General Styles ***/

.read-more-link {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #45ac9d;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

/*** Header Styles ***/

ul#menu-top-nav.nav-menu {
  text-align: center;
}

/*** Footer Styles ****/

.site-info {
  display: flex;
  justify-content: center;  /*desktop - space-between*/
  align-items: flex-start;
  flex-flow: row wrap; /*added for mobile*/
}

.site-description {
  float: none;
  width: 100%;  /*desktop - need to change*/
}

.social-media-navigation {
  float: none;
  width: 100%;
}

.social-media-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.menu-item i._mi {
  height: 30px;
  width: 30px;
}

.social-media-menu i {
  background: #000;
  border-radius: 50%;
  color: #fff;
}

/*** Home page styles ***/

.home-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
  margin: 0;
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

.button {
  background: #45ac9d;
}


.featured-work .site-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.featured-work h4 {
  font-size: 0.9375em;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  width: 100%;
  margin: 50px 0 0;
}

.homepage-featured-work {
  list-style: none;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.individual-featured-work {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  margin-top: 50px;
}

.individual-featured-work h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.97em;
  font-weight: 600;
  margin-top: 10px;
}

.blog-post,
.tweet {
  width: 100%;
  margin: 3em 0 2em;
}

.blog-post h4,
.tweet h4 {
  color: #a6a6a6;
  font-size: 0.9375em;
  text-transform: uppercase;
}

.blog-post h3,
.widget-title {
  font-size: 1.25em;
  margin-top: 15px;
}

ul.tweets {
  margin: 0;
}

div#secondary.widget-area {
  margin-bottom: 45px;
}

div#secondary.widget-area .stt-em {
  display: none;
}

/*** About Page Styles ***/

.about-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
  height: auto;
  margin: 0;
  padding: 2.15em 0;
  text-align: center;
}

div#primary.about-page.hero-content h3 {
  font-size: 1.25em;  /*desktop - 1.5em*/
  margin: 0 auto 2em auto;
  width: 90%; /*desktop - 40%*/
  line-height: 1.5em;
}

.services h4 {
  font-size: 0.875em;
  text-align: center;
  text-transform: uppercase;
  margin: 80px auto 30px;
}

.services-intro {
  font-size: 1em;
  text-align: center;
  width: 90%;  /*desktop - 50%*/
}

.services-content {
  margin: 75px 0;
}

.individual-service {
  display: flex;
  justify-content: center;  /*desktop - space between*/
  margin-bottom: 60px;
  flex-flow: row wrap;   /*added for mobile*/
}

.individual-service:nth-child(even) {     /*move to tablet?*/
  flex-direction: row-reverse;
}

.individual-service .service-details {
  width: 90%;    /*desktop - 70%*/
  text-align: center; /*added for mobile*/
}

.service-details h3, p {
  font-family: 'Open Sans', Arial, sans-serif;
}

.service-details h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.service-details p {
  font-size: 1em;
}

.call-to-action {
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap; /* added for mobile*/
}

.call-to-action h4 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.25em;  /*desktop - 1.5em */
  margin: 50px 0 0; /*desktop - 70px 2-px 30px 0 */
}

.cta-button {
  background: #45ac9d;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px 40px;  /*desktop - 15px 60px*/
  margin: 30px 0;   /*desktop - 70px 0 30px 20px */
}

/*** Single Case Study Styles ***/

.case-study {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  width: 100%;
}

.case-study-sidebar {
  width: 32%;
}

.case-study-sidebar h2, h5, p {
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: none;
}

.case-study-sidebar h2 {
  font-size: 1.56em;
  font-weight: 500;
  margin: 75px 0 0;
}

.case-study-sidebar h5 {
  color: #bfbfbf;
  margin-top: 0;
  font-size: 0.875em;
}

.case-study-sidebar h5 span {
  color: #000;
}

.case-study-sidebar p {
  margin: 40px 0;
}

.case-study-images {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-flow: row wrap;
}

div.case-study-images img {
	width: 100%;
	height: auto;
  margin-bottom: 50px;
}

/*** blog page ***/

aside#mc4wp_form_widget-2.widget.widget_mc4wp_form_widget label {
  color: #666;
  font-family: 'Open Sans', Arial, sans-sans-serif;
  font-size: 0.8em;
  font-weight: 700;
}

aside#mc4wp_form_widget-2.widget.widget_mc4wp_form_widget input[type="button"], input[type="submit"] {
  background: #45ac9d;
  padding: 0px 50px;
  height: 3em;
}

/*** contact form ***/

.contact-form-content {
  max-width: 650px;
  margin-left: 150px;
}

div#nf-field-1-container.nf-field-container.textbox-container.label-above {
  float: left;
  width: 48%;
}

div#nf-field-2-container.nf-field-container.email-container.label-above {
  float: right;
  clear: none;
  width: 48%;
}

div#nf-field-3-wrap.field-wrap.textarea-wrap {
  clear:both;
}

.contact-form-content h2 {
  font-size: 1.5em;
  margin: 11px 0 0;
}

.contact-form-content p {
  font-size: 1em;
  margin-top: 10px;
}

.nf-form-fields-required, .ninja-forms-req-symbol {
  display: none;
}

div.nf-field-label #nf-label-field-1, #nf-label-field-2, #nf-label-field-3 {
  font-weight: 400;
  font-size: 0.875em;
}

input#nf-field-1.ninja-forms-field.nf-element,
input#nf-field-2.ninja-forms-field.nf-element,
textarea#nf-field-3.ninja-forms-field.nf-element {
  background: #fff;
}

div.nf-field-element #nf-field-4 {
  float: right;
  background: #45ac9d;
  padding: 12px 70px;
}

/*** 404 styles ***/

.page-not-found-content h1 {
  color: #45ac9d;
  font-family: 'Poiret One', 'Montserrat', 'Open Sans', Arial, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

.page-not-found-content h2 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  color: #45ac9d;
  margin: 0;
}

.page-not-found-content p {
  font-size: 1.25em;
}

.page-not-found-content span {
  color: #45ac9d;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  /**** homepage tablet styles ****/

  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content h3 {
    font-size: 1.25em;
  }

  a.button {
    padding: 0.75em 3em;
  }

  .homepage-featured-work {
    width: 100%;
  }

  .featured-work-image {
    text-align: center;
  }
  .individual-featured-work h3 {
    width: 100%;
    text-align: center;
  }

  .blog-post,
  .tweet {
    width: 45%;
  }

  .blog-post {
    float: left;
  }

  .tweet {
    float: right;
  }

  .site-info {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .site-description {
    width: 70%;
  }

  .social-media-navigation{
    width: 20%;
  }

  /**** About Page Tablet Styles ****/

  div#primary.about-page.hero-content h3 {
    font-size: 1.5em;
    width: 70%;
  }

  .services-intro {
    width: 70%;
  }

  .individual-service {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .individual-service .service-details {
    width: 65%;
    text-align: left;
  }

  .call-to-action {
    justify-content: space-around;
  }

  .cta-button {
    margin: 40px 0 0;
  }
}

@media only screen and (min-width: 1200px) {

  .hero-content h1 {
    font-size: 3em;
  }

  .hero-content h3 {
    font-size: 1.5em;
  }

  a.button {
    padding: 1em 3.75em;
  }

  .homepage-featured-work {
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }

  .individual-featured-work h3 {
    margin-top: 20px;
  }

  .blog-post,
  .tweet {
    margin: 3.63em 0 2em;
  }

  .blog-post h3,
  .widget-title {
    font-size: 1.5em;
    margin: 2em 0 .5em;
  }

  .site-description {
    width: 50%;
  }

  .social-media-navigation {
    width: 15%;
  }


}
